[web]
enabled = 1
baseurl = {{ .Env.DNSUI_WEB_BASEURL }}
logo = {{ default .Env.DNSUI_WEB_LOGO "'/logo-header-opera.png'" }}
footer = {{ default .Env.DNSUI_WEB_FOOTER "'Developed by <a href=\"https://www.opera.com/\">Opera Software</a>.'" }}

[email]
enabled = 1
from_address = {{ .Env.DNSUI_EMAIL_FROM_ADDRESS }}
from_name = "DNS Management System"
report_address = {{ .Env.DNSUI_EMAIL_REPORT_ADDRESS }}
report_name = "DNS Administrator"

[database]
dsn = "pgsql:host={{ .Env.DNSUI_PGSQL_HOST }} port={{ .Env.DNSUI_PGSQL_PORT }} dbname={{ .Env.DNSUI_PGSQL_DBNAME }}"
username = {{ .Env.DNSUI_PGSQL_USERNAME }}
password = {{ .Env.DNSUI_PGSQL_PASSWORD }}

[php_auth]
enabled = 1
admin_group = "systems"

[ldap]
enabled = 0
#host = {{ .Env.DNSUI_LDAP_HOST }}
#starttls = {{ default .Env.DNSUI_LDAP_STARTTLS "0" }}
#dn_user = "{{ .Env.DNSUI_LDAP_DN_USER }}"
#dn_group = "{{ .Env.DNSUI_LDAP_DN_GROUP }}"
#bind_dn = "{{ .Env.DNSUI_LDAP_BIND_DN }}"
#bind_password = {{ .Env.DNSUI_LDAP_BIND_PASSWORD }}
#user_id = {{ default .Env.DNSUI_LDAP_USER_ID "uid" }}
#user_name = {{ default .Env.DNSUI_LDAP_USER_NAME "cn" }}
#user_email = {{ default .Env.DNSUI_LDAP_USER_EMAIL "mail" }}
#group_member = {{ default .Env.DNSUI_LDAP_GROUP_MEMBER "member" }}
#group_member_value = {{ default .Env.DNSUI_LDAP_GROUP_MEMBER_VALUE "dn" }}
#admin_group_cn = "{{ .Env.DNSUI_LDAP_ADMIN_GRUOP_CN }}"

[powerdns]
api_url = "http://{{ .Env.DNSUI_PDNS_HOST }}:{{ .Env.DNSUI_PDNS_PORT }}/api/v1/servers/localhost"
api_key = {{ .Env.DNSUI_PDNS_APIKEY }}

[dns]
dnssec = {{ default .Env.DNSUI_DNS_DNSSEC "1" }}
autocreate_reverse_records = 0
local_zone_suffixes = "localdomain"
local_ipv4_ranges = "10.0.0.0/8 172.16.0.0/12 192.168.0.0/16 127.0.0.0/8"
local_ipv6_ranges = "fd00::/8 ::1/128"

[git_tracked_export]
enabled = 0
path = /tmp/dns-export

